.header {
    display: flex;
    flex-direction: row;
    height: 38px;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: sans-serif;
    
}

.header__link-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.awsome {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    height: 350px;
    justify-content: space-around;
}

.awsome__text-main {
    color: #F9FAF8;
    font: 48px extra-bold;
    font-family: sans-serif;
    width: 400px;
}

.awsome__text-subtext {
    font-size: 18px;
    color: #e5e7eb;
    font-family: sans-serif;
    width: 400px;
}

.awsome__button {
    background-color: #3882F6;
    border-radius: 8px;
    border-color: #3882F6;
    width: 100px;
    color: #F9FAF8;
}

.awsome__img {
    display: flex;
    margin: 20px;
    width: 500px;
    height: 200px;
    background-color: grey;
    align-items: center;
    justify-content: center;
}
